* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} 

:root {

	/* Light Mode Colors */
	--light-primary: #007BFF;
	--light-text-nav: #CCE5FF;
	--light-shadow: #F2F2F2;
	--light-card-hover: #d9d9d9;
}