* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} 

:root {

	/* Light Mode Colors */
	--light-primary: #007BFF;
	--light-text-nav: #CCE5FF;
	--light-shadow: #F2F2F2;
	--light-card-hover: #d9d9d9;

	/* Dark Mode Colors */
	--dark-primary:  #198ff5;
	--dark-text-nav: #DBECFF;
	--dark-shadow: #252A41;
	--dark-primary-text: #fff;
	--dark-secondary: #8B97C6;
	--dark-card-hover: #1f212e;
	--dark-bg: #121212;
}